<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <test name="assessmentTest">
        <classes>
            <class name="com.owl.test.AssessmentTest"/>
            <class name="com.owl.test.MathCustomExamTest"/>
        </classes>
    </test>
    
    

</suite>
